<h1>Modification d'un manager</h1>
<form action="" method="POST">
    identifiant Manager :<input type="text" name="idm"/>
    Nom<input type="text" name="Nom"/>
    Prenom :<input type="text" name="Prenom"/>
    <input type="submit" name="rechercher" value="Modifier"/>
</form>