<h1>Recherche d'un Manager</h1>
<form action="" method="POST">
    Recherche : <input type="text" name="input_recherche"/>
    <input type="submit" name="rechercher" value="Rechercher"/>
</form>
{% if managers is empty %}

Aucun manager trouvé

{% else %}
<table border="1">
    <tr>
        <td>idm</td>
        <td>Nom</td>
        <td>Prenom</td>
    </tr>
    {% for manager in managers %}
    <tr>
        <td>{{ manager.idm }}</td>
        <td>{{ manager.Nom }}</td>
        <td>{{ manager.Prenom }}</td>
        <td><a href="{{ path("delete_manager", {'idm': manager.idm}) }}">Supprimer</a></td>

        {% endfor %}
</table>
{% endif %}