<h1>Modification d'un client</h1>
<form action="" method="POST">
    identifiant client :<input type="text" name="id"/>
   Nom<input type="text" name="Nom"/>
    Prenom :<input type="text" name="Prenom"/>
    date naissance:<input type="text" name="date_naissance"/>
    Téléphone:<input type="text" name="TEL"/>
    Date permis:<input type="text" name="date_permis"/>
    <input type="submit" name="rechercher" value="Modifier"/>
</form>