<h1>Modification d'un client</h1>
<form action="" method="POST">
    identifiant location :<input type="text" name="idl"/>
    Durée <input type="text" name="duree"/>
    Date début  :<input type="text" name="datedebut"/>
    Date fin:<input type="text" name="datefin"/>
    Client:<input type="text" name="client"/>
    Voiture:<input type="text" name="voiture"/>
    <input type="submit" name="rechercher" value="Modifier"/>
</form>