<h1>Modification d'une Voiture</h1>
<form action="" method="POST">
     Matricule voiture :<input type="text" name="mat"/>
    Diponibilite:<input type="text" name="disponiblite"/>
    Prix:<input type="text" name="prix"/>
    <input type="submit" name="rechercher" value="Modifier"/>
</form>